.background-color-container {
  background-color: #3b393f;
  border-bottom: 2px solid #e7d697;
  border-top: 2px solid #e7d697;
  margin: 2em auto;
  margin-bottom: 10em;
}
.all-users-container {
  display: grid;
  align-items: end;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 2em;
  margin: 2em auto;
  margin-bottom: 6em;
  width: 98%;
  max-width: 1200px;
}
@media screen and (min-width: 768px) {
  .all-users-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1000px) {
  .all-users-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1200px) {
  .all-users-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.user-profile {
  background-color: #ffffff;
  border: 2px solid #e7d697;
  border-radius: 4px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 100%;
  max-width: 400px;
}
.user-profile-pic {
  border-radius: 4px 4px 0 0;
  height: 50%;
  min-height: 200px;
  background-image: url('../img/snuffy.png');
  background-size: cover;
  background-position: top center;
}
.user-profile-info {
  padding: 0.75em 0.5em 0.5em;
  color: #3b393f;
  font-family: 'Opens Sans', sans-serif;
  font-weight: 600;
}
.user-profile-info > h3 + p {
  font-size: 1.5rem;
  margin-top: 0.75em;
  margin-bottom: 0;
}
.user-profile-info h3 {
  font-size: 2.25rem;
  font-family: 'Permanent Marker', cursive;
}
.battle-status {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-column-gap: 1.25em;
  grid-row-gap: 0.5em;
  padding: 0.5em 0.5em 1em;
}
.battle-status p {
  border-bottom: 1px solid #e7d697;
  font-size: 1.25rem;
  padding-top: 0.75em;
  padding-bottom: 0.5em;
}
.battle-status p:nth-child(even) {
  text-align: right;
}
.battle-status p:nth-child(odd) {
  text-align: left;
}
@media screen and (min-width: 768px) {
  .battle-status p {
    font-size: 1.15rem;
  }
}
.user-profile-social-container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 0.5em 0;
}
.user-profile-social-container figure {
  margin: 0 0.5em;
  height: auto;
  width: 40px;
}
.user-profile-social-container figure img {
  width: 100%;
}
