.login-container .login-form-container {
  width: 90%;
  max-width: 560px;
  margin: 4em auto;
}
.login-container h2 {
  color: #000000;
  font-size: 32px;
  font-size: 2rem;
  font-family: 'Permanent Marker', 'Open Sans', sans-serif;
  margin-top: 0.25rem;
  text-align: center;
}
.login-form-container p {
  margin-top: 1.5em;
  color: #3b393f;
  font-size: 32px;
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 600;
}
.login-form-container .black {
  color: #000000;
  font-weight: 600;
}
.login-form-container .markerFont {
  font-family: 'Permanent Marker', 'Open Sans';
}
.login-form input {
  border: 0;
  width: 100%;
  margin-top: 2rem;
  background-color: #fafafa;
  font-size: 1.15rem;
  padding: 1em 0.75em;
  border-bottom: 1px solid rgba(85, 85, 92, 0.4);
  outline: none;
  resize: vertical;
}
.login-form input:required {
  box-shadow: none;
}
.login-form input:invalid {
  box-shadow: 0;
}
.login-form-container .hidden {
  display: none;
}

.login-form-container .errorMessage {
  color: #c96302;
}
