.login-container .login-form-container {
  width: 90%;
  max-width: 560px;
  margin: 4em auto;
}
.login-container h2 {
  color: #000000;
  font-size: 32px;
  font-size: 2rem;
  font-family: 'Permanent Marker', cursive;
  margin-top: 0.25rem;
  text-align: center;
}
.login-form input {
  border: 0;
  width: 100%;
  background-color:#fafafa;
  font-size: 1.15rem;
  padding: 1em 0.75em;
  border-bottom: 1px solid rgba(85, 85, 92, 0.4);
  outline: none;
  resize: vertical;
}
.login-form input:required {
  box-shadow:none;
}
.login-form input:invalid {
    box-shadow:0;
}

.login-form input:nth-child(2) {
  margin-top: 2rem;
}
/* .google-login {
  width: 100%;
  max-width: 350px;
  height: 200px;
  max-height: 500px;
  padding: 1em 1.25em;
  margin: 0 auto;
  border: 2px solid #e7d697;
  border-radius: 8px;
}
.google-login-button-container {
  margin: 0.5em 0.25em;
  background-color: #3b393f;
  padding: 1em 1.25em;
  text-align: center;
  border-radius: 4px;
  transition: all 0.5s;
}
.google-login-button-container:hover {
  margin: 0.5em 0.25em;
  background-color: #000000;
  transition: all 0.5s;
}
.google-login-button-container span {
  font-family: 'Open Sans', sans-serif;
  color: #e7d697;
  font-weight: bold;
  font-size: 1.5em;
} */
